<section class='project'>
  <h1><%= @project.name %></h1>
  <aside class='actions'>
    <%= link_to 'Edit', edit_project_path(@project) %>
    <%= link_to 'Back', projects_path %>
  </aside>
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= hidden_field_tag 'adding_task', '1' %>
    <ul>
      <%= f.fields_for :tasks do |t| %>
        <% if t.object.new_record? %>
          <li class='new_task'>
            <%= t.check_box :done, :disabled => true %>
            <%= t.label :title, 'Task' %>
            <%= t.text_field :title, :placeholder => 'Task title' %>
            <%= t.label :due_date, 'Due date' %>
            <%= t.text_field :due_date, :placeholder => 'Due date' %>
          </li>
        <% elsif not t.object.done %>
          <li>
          <%= t.check_box :done %>
          <%= t.label :done, t.object.title %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= f.submit 'Update Tasks' %>
    <% end %>
</section>
