<section class='project'>
  <h1><%= @project.name %></h1>
  <aside class='actions'>
    <div>
      created by <%= @project.owner.username %>, <%= @project.created_at %>
    </div>
    <div>
      <%= pluralize @project.tasks.count(:conditions => '"tasks"."done" = "t"'), 'tasks' %> done
    </div>
    <%= link_to 'Edit', edit_project_path(@project) %>
    <%= link_to 'Back', projects_path %>
  </aside>
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <%= hidden_field_tag 'adding_task', '1' %>
    <ul>
      <%= f.fields_for :tasks do |t| %>
        <% if t.object.new_record? %>
          <li class='new-task'>
            <%= t.check_box :done, :disabled => true %>
            <div>
            <span class='title'>
            <%= t.label :title, 'Task' %>
            <%= t.text_field :title, :placeholder => 'Title of the new task' %>
            </span>
            <span class='due-date'>
            <%= t.label :due_date, 'Due date' %>
            <%= t.text_field :due_date, :placeholder => 'Due date' %>
            </span>
            </div>
          </li>
        <% elsif not t.object.done %>
          <li class='task'>
          <%= t.check_box :done %>
          <div>
            <span class='title'>
            <%= t.label :done, t.object.title %>
            </span>
            <span class='due-date'>
            <% if t.object.due_date %>
              <%= t.object.due_date %>
            <% else %>
              no due date
            <% end %>
            </span>
          </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= f.submit 'Update Tasks' %>
    <% end %>
</section>
