<div id='login'>
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class='fields'>
      <%= f.label :username %>
      <%= f.text_field :username, :placeholder => 'Username' %>
      <%= f.label :password %>
      <%= f.password_field :password, :placeholder => 'Password' %>
    </div>
    <div class='controls'>
      <%= f.submit "Sign in" %>
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>
</div>
