<!DOCTYPE html>
<html>
  <head>
    <title>Prjkt</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Paytone+One|Rokkitt' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id='wrapper'>
      <header>
        <h1>
          prjkt<span class='dot'>.</span><span class='tld'>in</span>
        </h1>
        <nav>
          <ul>
            <% unless request.fullpath == new_user_session_path %>
              <% if user_signed_in? %>
                <li><%= current_user.username %></li>
                <li><%= link_to 'Home', root_path %></li>
                <li><%= link_to 'Account', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete'%></li>
              <% else %>
                <li><%= link_to 'Login', new_user_session_path %></li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </header>
      <% if notice %>
        <aside class='notice'><%= notice %></aside>
      <% end %>
      <% if alert %>
        <aside class='alert'><%= alert %></aside>
      <% end %>
      <div class='main'>
        <%= yield %>
      </div>
  </div>
  <% if Rails.env == 'production' %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4e4dafa5f5a1f5769a000006');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  <% end %>
  </body>
</html>
